<div class="row">
  <div class="col-md-5">
    <!-- = $event expression in Angular is used within event bindings to assign the emitted event object to a variable -->
    <app-recipe-list
      (recipeWasSelected)="selectedRecipe = $event"
    ></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail
      *ngIf="selectedRecipe; else infoText"
      [recipe]="selectedRecipe"
    ></app-recipe-detail>
    <ng-template #infoText>
      <p>Please select in Recipe!</p>
    </ng-template>
  </div>
</div>
